.card-wrapper {
  perspective: 800px;

  .card-box {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 3rem auto;
    transform-style: preserve-3d;
    transition: transform 1s;

    .card-box-side {
      width: 200px;
      height: 200px;
      position: absolute;
      backface-visibility: hidden;
      text-align: center;
      line-height: 200px;
      font-size: 24px;
      font-weight: 700;
      cursor: pointer;
      user-select: none;
      border-radius: 10px;
      background: white;
    }
    .front {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .back {
      font-family: 'Courier New', Courier, monospace;
      transform: rotateY(179.9deg);
    }
  }
}
