<ion-content>
  <div class="spinner" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list lines="full" *ngIf="!isLoading">
    <form 
      class="auth-form"
      [formGroup]="signUpForm"
      (ngSubmit)="onSignUp()">
        <h1>Register</h1>
        <ion-item>
          <ion-label 
            position="stacked" 
            color="danger"
            *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').dirty">
            Email is not valid
          </ion-label>
          <ion-icon slot="start" name="mail"></ion-icon>
          <ion-input
            type="email"
            placeholder="Email"
            formControlName="email">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label 
            position="stacked" 
            color="danger"
            *ngIf="signUpForm.get('pass').invalid && signUpForm.get('pass').dirty">
            At least 6 characters
          </ion-label>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input 
            type="password"
            placeholder="Password"
            formControlName="pass">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label
            position="stacked" 
            color="danger"
            *ngIf="signUpForm.hasError('passesMismatch') && signUpForm.get('rePass').dirty">
            Passwords do not match
          </ion-label>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input 
            type="password"
            formControlName="rePass"
            placeholder="Repeat password"
            (keyup.enter)="onSignUp()">
          </ion-input>
        </ion-item>
        <ion-button 
          type="submit"
          expand="block" 
          [disabled]="signUpForm.invalid">
          Sign Up
        </ion-button>
        <ion-label>Already have an account? <a (click)="toSignInPage()">Sign In.</a></ion-label>
    </form>
  </ion-list>
</ion-content>
