<ion-content>
  <div class="spinner" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list lines="full" *ngIf="!isLoading">
    <form 
      class="auth-form"
      [formGroup]="signUpForm"
      (ngSubmit)="onSignUp()">
        <h1>Register</h1>
        <ion-item>
          <ion-icon slot="start" name="mail"></ion-icon>
          <ion-input
            type="email"
            placeholder="Email"
            formControlName="email">
          </ion-input>
          <ion-icon 
            slot="end"
            [name]="signUpForm.get('email').valid ? 'checkmark' : 'close'" 
            [color]="signUpForm.get('email').valid ? 'success' : 'danger'" 
            *ngIf="signUpForm.get('email').dirty"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input 
            type="password"
            placeholder="Password"
            formControlName="pass">
          </ion-input>
          <ion-note 
            slot="end" 
            [color]="signUpForm.get('pass').invalid ? 'danger' : 'success'"
            *ngIf="signUpForm.get('pass').dirty">
            {{signUpForm.get('pass').value.length}} / 6
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input 
            type="password"
            formControlName="rePass"
            placeholder="Repeat password"
            (keyup.enter)="onSignUp()">
          </ion-input>
          <ion-icon 
            slot="end"
            [name]="signUpForm.hasError('passesMismatch') ? 'close' : 'done-all'" 
            [color]="signUpForm.hasError('passesMismatch') ? 'danger' : 'success'" 
            *ngIf="signUpForm.get('rePass').dirty"></ion-icon>
        </ion-item>
        <ion-button 
          type="submit"
          expand="block" 
          [disabled]="signUpForm.invalid">
          Sign Up
        </ion-button>
        <ion-label>Already have an account? <a (click)="toSignInPage()">Sign In.</a></ion-label>
    </form>
  </ion-list>
</ion-content>
