<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  <form 
    class="auth-form" 
    #signInForm="ngForm"
    *ngIf="!isLoading"
    (ngSubmit)="onSignIn(signInForm)">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input 
        type="email"
        name="email"
        ngModel
        required
        email></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input 
        type="password"
        name="password"
        ngModel
        required
        minlength="6"></ion-input>
    </ion-item>
    <ion-button 
      type="submit"
      expand="block"
      [disabled]="!signInForm.valid">Sign In</ion-button>
    <ion-label>Don't have an account? <a (click)="onSignUpPage()">Create one.</a></ion-label>
  </form>
</ion-content>
