<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="displayNewUnitForm()">
        <ion-icon size="large" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full" *ngIf="isNewUnitFormDisplayable">
      <ion-note slot="start">Title:</ion-note>
        <form #newUnitForm="ngForm">
          <ion-input type="text" name="title" ngModel required></ion-input>
        </form>
        <ion-button fill="outline" slot="end" (click)="hideNewUnitForm()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
        <ion-button slot="end" (click)="onUnitCreate(newUnitForm)" [disabled]="newUnitForm.invalid">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>Units</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let unit of units$ | async" button="true" (click)="openUnitModal(unit)">
      <ion-label>{{unit.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
