<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="openSideMenu()">
        <ion-icon size="large" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" type="overlay" menuId="sideMenu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{userEmail}}</ion-title>
      <ion-avatar>
        <img src="../../assets/avatars/1.png" class="avatar-img" alt="avatar">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
      <ion-item (click)="onLogout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Log Out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-content>
  <div class="home-main-block">
    <h1 class="app-title">EngCards</h1>
    <ion-button expand="block" routerLink="/auth">Learn</ion-button>
  </div>
</ion-content>
