.home-main-block {
	margin-top: 25%;

	.app-title {
		font-family: 'Comic Sans MS';
		font-size: 2em;
		padding: 50px;
		text-align: center;
		background-image: linear-gradient(to right, violet, yellow, indigo, blue, green, orange, red);
		background-clip: text;
		color: transparent;
	}
}
